__pycache__
build/
dist/
*.egg-info/
mqc.egg-info/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
cplex_new/
CPLEX221/
tmp/
local_test_data/
mqc/local_test_data/
data/
slurm_script/
slurm_script_bigg/
slurm_script_metanetx/
slurm_script_seed/
slurm_script_virtual/
slurm_script_215Protein_sequence/
slurm_script_xml0321/
slurm_script_GCF_modelseed/
others/
cplex_studio2210.linux_x86_64.bin
*.bin
R-4.4.1.tar.gz
R-4.4.1/
*.tar.gz
*.whl
*.zip
*.dmg
*.sqlite
zenodo.txt
zenodo_upload/
zenodo_upload*/
PyPi_API_token
.pypirc
*.token
*token*
*.secret
*credential*
